<div class="contiainer-fluid" style="background-color: black;height:40px;">
    <div class="row r1"> 
        <div class="col-lg-2 n">
            <i class="fa fa-phone" aria-hidden="true" style="color:white ;"></i>&nbsp;
            <span>+91 123 456 7890</span>
        </div>|&nbsp;
        <div class="col-lg-2 n">
            <i class="fa fa-envelope" aria-hidden="true" style="color:white;"></i> &nbsp;
            <span>info@gmail.com</span>
        </div>
        <div class="col-lg-8 pp">
        <a href=" "><i class="fa-brands fa-facebook-f" style="color:white;text-decoration: none;"></i></a>&nbsp;&nbsp;
        <a href=" "><i class="fa-brands fa-twitter" style="color:white;text-decoration: none;"></i></a>&nbsp;&nbsp;
        <a href=" "><i class="fa fa-linkedin"aria-hidden="true" style="color:white;text-decoration: none;"></i></a>&nbsp;&nbsp;
        <a href=" "><i class="fa-brands fa-instagram" style="color:white;text-decoration: none;"></i></a>&nbsp;&nbsp;
        <a href=" "><i class="fa-brands fa-youtube" style="color:white;text-decoration: none;" ></i></a>
    </div>
        
    </div> 
</div>
<div class="container-fluid bgcolor">
    <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 paddingtb1 name" style="Color:crimson;">
        <i class='fas fa-truck ' style='font-size:48px;color:red;'></i>
        <span><a href="https://www.amazon.in/b?node=27063225031" class="aa">FASTER</a></span>
    </div>
   
    <div class="col-lg-5">
        <div class="menu paddingtb2" >
            <a [routerLink]="['/']" class="btn btn-outline-primary bbb">Home</a>
            <a [routerLink]="['/aboutus']" class="btn btn-outline-primary bbb">Aboutus</a>
            <a [routerLink]="['/services']" class="btn btn-outline-primary bbb">services</a>
            <a [routerLink]="['/price']" class="btn btn-outline-primary bbb">Prices</a>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary bbb">Contact</a>            
        </div>
        </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2 paddingtb1 ">
            <button class="btn btn-danger but">
                Get A Quote
               </button>
            </div>
    </div>
</div>