<div class="container-fluid bgblack">
    <div class="row">
        <div class="col-sm-4" >
            <div>
                
                <span class="colorr" style="font-size: x-large;">Get In Touch</span><br><br>
                <i style="font-size:1rem;color: white;" class="fa">&#xf041;</i>
                <span class="fcontent">&nbsp;123 Street, New York, USA</span><br>
                <i style="font-size:1rem;color: white;" class="fa">&#xf095;</i>
                <span class="fcontent">&nbsp;+012 345 67890</span><br>
                <i style="font-size:1rem; color: white;" class="fa">&#xf003;</i>
                <span class="fcontent">&nbsp;info@example.com</span><br>
                <a href=" "><i class="fa-brands fa-facebook-f" style="color:white;text-decoration: none;"></i></a>&nbsp;&nbsp;
                <a href=" "><i class="fa-brands fa-twitter" style="color:white;text-decoration: none;"></i></a>&nbsp;&nbsp;
                <a href=" "><i class="fa fa-linkedin"aria-hidden="true" style="color:white;text-decoration: none;"></i></a>&nbsp;&nbsp;
                <a href=" "><i class="fa-brands fa-instagram" style="color:white;text-decoration: none;"></i></a>&nbsp;&nbsp;
                <a href=" "><i class="fa-brands fa-youtube" style="color:white;text-decoration: none;" ></i></a>

            </div>
        </div>
        <div class="col-sm-3" >
            <div >
                <span class="colorr " style="font-size: x-large;">Quick Links</span><br><br>
                <div class="fotmen">
                    <i style='font-size:1rem;color: white;font-weight: bold;' class='fas'>&#xf105;</i><a  href="index.html"> Home</a><br>
                    <i style='font-size:1rem;color: white;font-weight: bold;' class='fas'>&#xf105;</i><a href="about.html"> About Us</a><br>
                    <i style='font-size:1rem;color: white;font-weight: bold;' class='fas'>&#xf105;</i><a href="services.html"> Services</a><br>
                    <i style='font-size:1rem;color: white;font-weight: bold;' class='fas'>&#xf105;</i><a href="pricing.html"> Pricing Plan</a><br>
                    <i style='font-size:1rem;color: white;font-weight: bold;' class='fas'>&#xf105;</i><a href="contact.html"> Contact Us</a><br>
            </div>
        </div>
        </div>
        <div class="col-sm-5" >
            <div >
                <span class="colorr" style="font-size: x-large;">Newsletter</span><br><br>
                <span class="fcontent">Rebum labore lorem dolores kasd est, et ipsum amet et at kasd,<br> ipsum
                     sea tempor magna tempor. Accu kasd sed ea duo ipsum.<br> Dolor duo 
                     eirmod sea justo no lorem est diam</span><br><br>
                            <input type="email"  placeholder="Enter your Email-id" class="for"/>
                            <button class="btn btn-danger btn-lg"> Sign Up</button>

            </div>
        </div>
    </div>
<hr style="color:white;">
<div style="height: 30px;">
<div class="container-fluid fcontent">
    <div class="row " style="margin-bottom: 1px;">
        <div class="col-lg-6">
            &copy;FASTER . All Rights Reserved.Designed by Deepika, Pavani ,Sharon
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 fcontent  lastcon">
            <span class="lastcon">Privacy</span>
            <span class="lastcon">Terms</span>
            <span class="lastcon">FAQ'S</span>
            <span class="lastcon">Help</span>
        </div>
    </div>
</div>
</div>

