
<div class="contiainer-fluid">
    <div class="row bg1">
        
    <div class="col-4">
        
    </div>
    <div class="col-5 cont">
        <h4 id="title">Sales & Faster</h4><br>
        <h1 id="title1">Logistic services</h1><br>
        <div class="but">
        <input type="text" placeholder="tracking id" class="in">
        <button class="btn btn-danger btn-sm ">Track & Trace</button>
        </div>
    </div>
    <div class="col-3">
        
    </div>
</div>
<div class="container-fluid">
    <div class="row" >
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12" style="padding: 20px;"> 
                    <img  class="imgpad" src="assets/images/truck.jpg" height="400px"/>
                </div>
                <div class="row">
                    <div class="col-lg-6 "></div>
                    <div class="col-lg-6 bgc " style="width: 350px;">
                       <span class="imgtex" > 25+ Years Experience</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 padingt">
                <div>
                    <p  class="colorr"> ABOUT US </p><br>
                    <h2 class="name" >Trusted & Faster Logistic  </h2>
                    <h2 class="name">Service Provider</h2>
                    <span class="name2">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit</span><br>
                    <span class="name2" >rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd</span><br>
                    <span class="name2">ut. Erat duo eos et erat sed diam duo</span><br><br>
                    <button class="btn btn-danger" style="background-color: orangered;"> Play now</button>
                </div>
            </div>
            
    </div>
    <div>
        <p></p>
    </div>
  </div>
  <div style="height: 725px;">
    <div class="container-fluid">
        <div clas="row">
            <p></p>
        </div>
        <div clas="row">
            <p></p>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container">
            <div class="row" style="color:crimson;font-weight: bold;padding-left:500px ;font-size: 40px;">
                OUR SERVICES<br>
            </div>
            <div clas="row">
                <p></p>
            </div>
            <div class="row" style="font-weight: bold;font-size: 32px;padding-left:490px ;">
                Best Logistic Services<br><br>
            </div>
            <div clas="row">
                <p></p>
            </div>
            <div class="row ">
                <div class="col-lg-3">
                    <div class="card magnify">
                        <div class="card-img-top height150px" style="background-color: orangered;height: 60px;padding: 20px;">
                            <i style="font-size:24px" class="fa">&#xf072;<p class="tit">Air Freight</p></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam
    
                            </p>
                            <a href="#" class="btn btn-outline-danger" style="border:none;color:orangered">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card magnify">
                        <div class="card-img-top height150px" style="background-color: orangered;height: 60px;padding: 20px;">
                            <i style='font-size:24px' class='fas'>&#xf21a;<p class="tit">Ocean Freight</p></i>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam                        </p>
                            <a href="#" class="btn btn-outline-danger" style="border:none;color:orangered">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card magnify">
                        <div class="card-img-top height150px" style="background-color: orangered;height: 60px;padding: 20px;">
                            <i style='font-size:24px' class='fas'>&#xf0d1;<p class="tit">Land Transport</p></i>
                        </div>
                        <div class="card-body">
                            
                            <p class="card-text">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam                        </p>
                            <a href="#" class="btn btn-outline-danger" style="border:none;color:orangered">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card magnify">
                        <div class="card-img-top height150px" style="background-color: orangered;height: 60px;padding: 20px;">
                            <i class='fas fa-store' style='font-size:24px'><p class="tit">Air Freight</p></i>
                        </div>
                        <div class="card-body">
                            
                            <p class="card-text">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam                        </p>
                            <a href="#" class="btn btn-outline-danger" style="border:none;color:orangered">Read More..</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div>
        <p></p>
    </div>
    <div>
        <p></p>
    </div>
    <div>
        <p></p>
    </div>
    </div>
    
    <div class="container-fluid">
        <div class="row" >
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12" style="padding: 20px;"> 
                        <img  class="imgpad" src="assets/images/ship.jpeg" height="500px" width="700px"/>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 "></div>
                        <div class="col-lg-6  ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 padingt">
                    <div>
                        <p  class="colorr"> WHY CHOOSE US </p><br>
                        <h2 class="name" >Trusted & Faster Logistic  </h2>
                        <h2 class="name">Service Provider</h2>
                        <span class="name2">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit</span><br>
                        <span class="name2" >rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd</span><br>
                        <span class="name2">ut. Erat duo eos et erat sed diam duo</span><br><br>
                        <ul>
                            <li> Best In Industry</li>
                            <li>Emergency Services</li>
                            <li>24/7 Customer Support</li>
                        </ul>
                        <button class="btn btn-danger btn-lg"> Learn More</button>
                    </div>
                </div>
                
        </div>
    </div><br> <br> <br> <br> 
    <div class="container-fluid">
        <div class="row colorr" align="center " >
                <span>DELIVERY TEAM</span>
                </div>
                </div>
    <div class="container-fluid">
    <div class="row " align="center " >
        <h1>Meet Our Delivery Team</h1>
    </div>
    </div>
    <div class="container-fluid">
        <div class="container padingtb">
            <div class="row ">
                <div class="col-lg-3">
                    <div class="card magnify">
                        <img src="assets/images/test1.jpeg" class="img1">
                        <div class="card-body">
                            <h5 class="card-title " align="center"> TEAM -1</h5>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card magnify">
                        <img src="assets/images/test2.jpeg" >
                        <div class="card-body">
                            <h5 class="card-title" align="center"> TEAM -2</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card magnify">
                        <img src="assets/images/test3.jpeg">
                        <div class="card-body">
                            <h5 class="card-title" align="center">TEAM -3</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card magnify">
                        <img src="assets/images/test4.jpeg">
                        <div class="card-body">
                            <h5 class="card-title" align="center">TEAM -4</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div clas="row">
            <p></p>
        </div>
        <div clas="row">
            <p></p>
        </div>
        </div>
        <p style="color:orangered; text-align: center">PRICING PLAN</p>
<h1 style="text-align: center;">Affordable Pricing Package</h1><br><br>
<div class="row ">
    <div class="col-lg-4">
        <div class="card magnify">
            <div class="card-img-top height150px" >
                <h1 class="tit"   style="background-color: orangered; padding-left: 180px;">Basic</h1>
            </div>
            <div class="card-body tr">
                <p class="card-text" >HTML5 & CSS3 </p>
                    <p >Bootstrap</p>
                    <p >Responsive Layout</p>
                    <p >compatible With All Browser</p>
                <div > <button href="#" class="btn btn-danger" style="border:none;color:white;">Order Now</button></div>
               
            </div>
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="card magnify">
            <div class="card-img-top height150px" >
            <h1 class="tit"   style="background-color: orangered; padding-left: 180px;">Premium</h1>
                
            </div>
            
            <div class="card-body tr">
                <p class="card-text" >HTML5 & CSS3 </p>
                <p >Bootstrap</p>
                <p >Responsive Layout</p>
                <p >compatible With All Browser</p>
                
                <div > <button href="#" class="btn btn-danger" style="border:none;color:white;">Order Now</button></div>
            </div>
        </div>
    </div>   
    <div class="col-lg-4">
        <div class="card magnify">
            <div class="card-img-top height150px">
                <h1 class="tit"  style="background-color: orangered; padding-left: 180px;">Business</h1>
            </div>
            <div class="card-body tr">
                
                <p class="card-text" >HTML5 & CSS3 </p>
                <p >Bootstrap</p>
                <p >Responsive Layout</p>
                <p >compatible With All Browser</p>
              
               <div > <button href="#" class="btn btn-danger" style="border:none;color:white;">Order Now</button></div>
            </div>
        </div>
    </div>
    
</div>
<br>
<p style="color:orangered; text-align: center">TESTMONIAL</p>
<h1 style="text-align: center;">Affordable Pricing Package</h1>
        
<app-footer></app-footer>
