<div class="contiainer-fluid">
    <div class="row bg1">
        
    <div class="col-4">
        
    </div>
    <div class="col-5 cont">
        <h4 id="title">About Us</h4><br>
        <h1 id="title1">Logistic services</h1><br>
        <div class="but">
        <input type="text" placeholder="tracking id" class="in">
        <button class="btn btn-danger btn-sm ">Track & Trace</button>
        </div>
    </div>
    <div class="col-3">
        
    </div>
</div>
<div class="container-fluid">
    <div class="row" >
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12" style="padding: 20px;"> 
                    <img  class="imgpad" src="assets/images/truck.jpg" height="400px"/>
                </div>
                <div class="row">
                    <div class="col-lg-6 "></div>
                    <div class="col-lg-6 bgc " style="width: 350px;">
                       <span class="imgtex" > 25+ Years Experience</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 padingt">
                <div>
                    <p  class="colorr"> ABOUT US </p><br>
                    <h2 class="name" >Trusted & Faster Logistic  </h2>
                    <h2 class="name">Service Provider</h2>
                    <span class="name2">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit</span><br>
                    <span class="name2" >rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd</span><br>
                    <span class="name2">ut. Erat duo eos et erat sed diam duo</span><br><br>
                    <button class="btn btn-danger" style="background-color: orangered;"> Play now</button>
                </div>
            </div>
            
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" >
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12" style="padding: 20px;"> 
                    <img  class="imgpad" src="assets/images/ship.jpeg" height="500px" width="700px"/>
                </div>
                <div class="row">
                    <div class="col-lg-6 "></div>
                    <div class="col-lg-6  ">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 padingt">
                <div>
                    <p  class="colorr"> WHY CHOOSE US </p><br>
                    <h2 class="name" >Trusted & Faster Logistic  </h2>
                    <h2 class="name">Service Provider</h2>
                    <span class="name2">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit</span><br>
                    <span class="name2" >rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd</span><br>
                    <span class="name2">ut. Erat duo eos et erat sed diam duo</span><br><br>
                    <ul>
                        <li> Best In Industry</li>
                        <li>Emergency Services</li>
                        <li>24/7 Customer Support</li>
                    </ul>
                    <button class="btn btn-danger btn-lg"> Learn More</button>
                </div>
            </div>
            
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
</div>
<div class="container-fluid">
    <div class="row colorr" align="center " >
            <span>DELIVERY TEAM</span><br>
            </div>
            </div>
<div class="container-fluid">
<div class="row " align="center " >
    <h1>Meet Our Delivery Team</h1><br>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <p></p>
    </div>
    <div class="container padingtb">
        <div class="row ">
            <div class="col-lg-3">
                <div class="card magnify">
                    <img src="assets/images/test1.jpeg" class="img1">
                    <div class="card-body">
                        <h5 class="card-title " align="center"> TEAM -1</h5>
                    </div>
                    <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                        <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="card magnify">
                    <img src="assets/images/test2.jpeg" >
                    <div class="card-body">
                        <h5 class="card-title" align="center"> TEAM -2</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card magnify">
                    <img src="assets/images/test3.jpeg">
                    <div class="card-body">
                        <h5 class="card-title" align="center">TEAM -3</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card magnify">
                    <img src="assets/images/test4.jpeg">
                    <div class="card-body">
                        <h5 class="card-title" align="center">TEAM -4</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div clas="row">
        <p></p>
    </div>
    <div clas="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    </div>
  <app-footer></app-footer>