<div class="contiainer-fluid">
    <div class="row bg1">
        
    <div class="col-4">
        
    </div>
    <div class="col-5 cont">
        <h4 id="title">Services</h4><br>
        <h1 id="title1">Logistic services</h1><br>
        <div class="but">
        <input type="text" placeholder="tracking id" class="in">
        <button class="btn btn-danger btn-sm ">Track & Trace</button>
        </div>
    </div>
    <div class="col-3">
        
    </div>
</div>
<div class="container-fluid">
    <div clas="row">
        <p></p>
    </div>
    <div clas="row">
        <p></p>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row" style="color:crimson;font-weight: bold;padding-left:500px ;font-size: 40px;">
            OUR SERVICES<br>
        </div>
        <div clas="row">
            <p></p>
        </div>
        <div class="row" style="font-weight: bold;font-size: 32px;padding-left:490px ;">
            Best Logistic Services<br><br>
        </div>
        <div clas="row">
            <p></p>
        </div>
        <div class="row ">
            <div class="col-lg-3">
                <div class="card magnify">
                    <div class="card-img-top height150px" style="background-color: orangered;height: 60px;padding: 20px;">
                        <i style="font-size:24px" class="fa">&#xf072;<p class="tit">Air Freight</p></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam

                        </p>
                        <a href="#" class="btn btn-outline-danger" style="border:none;color:orangered">Read More..</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card magnify">
                    <div class="card-img-top height150px" style="background-color: orangered;height: 60px;padding: 20px;">
                        <i style='font-size:24px' class='fas'>&#xf21a;<p class="tit">Ocean Freight</p></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam                        </p>
                        <a href="#" class="btn btn-outline-danger" style="border:none;color:orangered">Read More..</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card magnify">
                    <div class="card-img-top height150px" style="background-color: orangered;height: 60px;padding: 20px;">
                        <i style='font-size:24px' class='fas'>&#xf0d1;<p class="tit">Land Transport</p></i>
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam                        </p>
                        <a href="#" class="btn btn-outline-danger" style="border:none;color:orangered">Read More..</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card magnify">
                    <div class="card-img-top height150px" style="background-color: orangered;height: 60px;padding: 20px;">
                        <i class='fas fa-store' style='font-size:24px'><p class="tit">Air Freight</p></i>
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam                        </p>
                        <a href="#" class="btn btn-outline-danger" style="border:none;color:orangered">Read More..</a>
                    </div>
                </div>
            </div>
    </div>
</div>
<div>
    <p></p>
</div>
<div>
    <p></p>
</div>
<div>
    <p></p>
</div>
</div><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-7 ppp">
            <h4 class="hh">GET A QUOTE</h4>
            <h3 class="hh1">Request A Free Quote</h3>
            <p>Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. <br>Sit rebum labore sit sit ut vero no sit.
                Et elitr<br> stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>
            <div clas="c1">
                <h3 class="hh">225&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    1050&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2500</h3>
                <h4 class="hh1">SKilled Experts&nbsp;&nbsp;Happy Clients&nbsp;&nbsp;Complete Projects</h4>
            </div>
            
        </div>
        <div class="col-3  ss">
            <div class="ss1">
            <form>
                <table style="padding:20px;margin: 20px;">
                <tr>
                <td>
                    <input type="text" name="name" placeholder="Your Name" style="width: 300px;" required/><br>
                </td>
                </tr><tr><td></td></tr><tr>
                <td>
                    <input type="email" name="email" placeholder="Your Email"style="width: 300px;" required/><br>
                </td>
            </tr><tr><td></td></tr><tr>
                <select style="width: 300px;" value="Select a service">
                    <option>Service 1</option>
                    <option>Service 2</option>
                    <option>Service 3</option>
                </select>
            </tr><tr><td></td></tr><tr>
                    <br><button class="btn btn-primary bgcolor">Get A Quote</button>
               
                </tr>
                    </table>
                    </form>
            </div>
        </div>
        <div class="col-1">
            
        </div>
    </div>
    
</div><br><br>
<app-footer></app-footer>